<button routerLink="/header/comp" routerLinkActive="red">Comp</button>
<button routerLink="/header/any" routerLinkActive="red">Any</button>

<div style="border: 1px solid grey">
    <router-outlet></router-outlet>
</div>

<!-- property binding using interpolation and [] -->

<p [style.color]="'red'">
    This is my app title: {{title}}
</p>

<p [class]="redClass">Property binding</p>{{redClass}}


<!-- event binding using () -->
<button (click)="changeClass()">Change class</button>


<!-- Two-way binding -->
<input type="text" [(ngModel)]="title">
<textarea [(ngModel)]="redClass"></textarea>

<!-- Local template variable -->
<input type="text" placeholder="used locally" #titleVar (keypress)="changeTitle(titleVar.value)">
<button (click)="print(titleVar.value)">Print</button>
<br>
<br>
<input type="text" placeholder="Enter image url" #url>
<button (click)="changeImg(url.value)">Change Image</button>
<br>
<br>Change image directly using this:
<input type="text" [(ngModel)]="imageSource">
<!-- <img [src]="imageSource" alt="My image"> -->

<h3>Enter person details below</h3>
<input type="text" name="name" [(ngModel)]="person.name" placeholder="Name">
<input type="text" name="phone" [(ngModel)]="person.phone" placeholder="Phone">
<button (click)="addPerson()">Add</button>

<h3>Person detaila are displayed below</h3>
<p>Person's name: {{person.name?person.name:'---'}}</p>
<p>Person's phone: {{person.phone?person.phone:'---'}}</p>

<!-- built-in directives -->
<!-- *ngIf -->
<p *ngIf="title == 'app' || redClass == 'redClass'; else elseBlock">Title is equal to app</p>
<ng-template #elseBlock>
    <p>Title is not equal to app</p>
</ng-template>

<!-- *ngFor -->
<table>
    <thead>
        <tr>
            <th>S.no.</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of persons; let i = index">
            <td>{{i+1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.phone}}</td>
        </tr>
    </tbody>
</table>

<!-- ngSwitch -->
<input type="text" [(ngModel)]="yourChoice" placeholder="Enter your choice">
<br>
<br>
<span [ngSwitch]="yourChoice">
    <span *ngSwitchCase="'Avnesh'">Your Choice is equal to Avnesh</span>
    <span *ngSwitchCase="'Nimmy'">Your Choice is equal to Nimmy</span>
    <span *ngSwitchDefault>Nothing matched here</span>
</span>

<!-- NgClass -->
<br>
<br>

<p [ngClass]="{'redClass':title == 'app', 'blueClass': title == 'app1', 'yellowClass': title == 'app2'}">Class changes according to app</p>


<app-forms [myCompName]="title"></app-forms>