<!-- property binding using interpolation and [] -->

<p [style.color]="'red'">
  This is my app title: {{title}}
</p>

<p [class]="redClass">Property binding</p>


<!-- event binding using () -->
<button (click)="changeClass()">Change class</button>


<!-- Two-way binding -->
<input type="text" [(ngModel)]="title">

<!-- Local template variable -->
<input type="text" #titleVar (keypress)="changeTitle(titleVar.value)">
<button (click)="print(titleVar.value)">Print</button>
<br><br>
<input type="text" placeholder="Enter image url" #url><button (click)="changeImg(url.value)">Change Image</button>
<br><br>Change image directly using this:<input type="text" [(ngModel)]="imageSource">
<!-- <img [src]="imageSource" alt="My image"> -->

<h3>Enter person details below</h3>
<input type="text" name="name" [(ngModel)]="person.name" placeholder="Name">
<input type="text" name="phone" [(ngModel)]="person.phone" placeholder="Phone">

<h3>Person detaila are displayed below</h3>
<p>Person's name: {{person.name?person.name:'---'}}</p>
<p>Person's phone: {{person.phone?person.phone:'---'}}</p>
